# Ignore DVC cache and temporary files
/.dvc/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
*.env

# Ignore data files
/data/raw/*
!/data/raw/.gitkeep
# Allow tracking of .dvc files in data/raw
!data/raw/*.dvc
!data/raw/*.dvclock

# Ignore logs
*.log
logs/

# Ignore metrics
/metrics/*
!/metrics/.gitkeep

# Ignore notebooks
/notebook/*
!/notebook/.gitkeep

# Ignore models
/models/*
!/models/.gitkeep

# Ignore DVC lock and yaml
# /dvc.lock
# /dvc.yaml
